{% extends "cafe/block/base.html" %}
{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/supplier.css" %}">
{% endblock %}
    
{% block title %}
    {{ action }} поставщика
{% endblock %}

{% block content %}
    {% if request.user.is_staff %}
        <div class='section__supplier section__supplier__form'>
            <form method='post' class='form-control' style="display: flex; flex-direction: column; gap: 10px">
                {% csrf_token %}
                Название компании
                {{ form.name }}
                Фамилия
                {{ form.agent_lastname }}
                Имя
                {{ form.agent_name }}
                Отчество
                {{ form.agent_surname }}
                Номер телефона (Пример: +7(XXX)XXX-XX-XX)
                {{ form.phone }}
                Адрес компании
                {{ form.location }}
                <button class="submit">{{action}}<button>
            </form>
        </div>
    {% else  %}
        <h1 style="font-size: 72px; padding: 26px">Страница не найдена!</h1>
        <a href="{% url "list_order" %}" style="padding: 0 26px">Вернуться к странице заказов.</a>
    {% endif %}
{% endblock %}