{% extends "cafe/block/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/auth.css" %}">
{% endblock  %}

{% block title %}
    Вход
{% endblock  %}

{% block content %}
    <div class='auth'>
        <h1>Войти</h1>
        <form method='post'>
            {% csrf_token %}
            {{ form.username }}
            {{ form.password }}
            <input class="submit" type="submit" value='Войти'>
        </form>
        <a href="{% url "registr" %}">Зарегистрироваться</a>
        <a href="{% url "catalog_dish_page" %}">Вернуться к каталогу</a>
    </div>
{% endblock %}