.auth {
    width: 500px;
    height: auto;
    padding: 19px 29px;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
}

.auth h1 {
    margin-bottom: 30px;
    font-size: 32px;
    font-family: Poppins;
    font-weight: 700;
}

.auth form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.auth form input {
    width: 100%;
    height: 56px;
    border: 2px solid #1fc1e9;
    border-radius: 10px;
    padding-left: 19px;
    color: #1fc1e9;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    outline: none;
}



.auth form input::placeholder {
    color: #1fc1e9;
    font-size: 18px;
    font-weight: 300;
    font-family: Poppins, sans-serif;
}

.auth form .submit {
    width: 100%;
    height: 56px;
    margin-top: 50px;
    background-color: #1fc1e9;
    border: 1px solid #1fc1e9;
    color: #fff;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    border-radius: 10px;
    cursor: pointer;
    margin-bottom: 30px;
}

.auth a {
    margin-bottom: 20px;
    color: #1fc1e9;
    font-size: 18px;
    font-family: Poppins, sans-serif;
    font-weight: 300;
    text-decoration: underline;
}