:root {
    --width: 91.7%
}


.section__dish {
    position: relative;
}

.section__dish, .about, .product_info {
    width: calc(var(--width) - 58px);
    padding: 19px 29px;
    height: auto;
    background-color: #fff;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
}

.section__dish .img__dish, .section__dish .img__dish img {
    width: 400px;
    height: 400px;
    border-radius: 10px;
}

.section__dish .info {
    text-align: start;
    width: 50%;
    padding-right: 100px;
}

.section__dish .info h2 {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 20px;
}

.section__dish .info p {
    font-family: Poppins;
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 30px; 
    line-height: 24px;
}

.section__dish .info h3, .section__dish .info h4 {
    font-family: Poppins;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 20px; 
}

.section__dish .info h4 {
    margin-bottom: 0px;
}

.section__dish a {
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-family: Poppins;
    font-weight: 700;
    color: #1fc1e9;
    font-size: 24px;
    text-decoration: underline;
    padding: 10px 19px;
}

.about, .product_info {
    margin-top: 50px;
    display: block;
}

.about .title, .product_info .title {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 32px;
    margin-bottom: 50px;
}

.about p, .product_info p {
    margin-bottom: 10px;
    font-family: Poppins;
    font-weight: 300;
    font-size: 20px;
    width: 30%;
}

.product_info p {
    width: 100%;
}