{% extends "cafe/block/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/all_supplier.css" %}">
{% endblock %}

{% block title %}
    Список поставщиков
{% endblock %}

{% block content %}
    <div class="section__supplier">
        <div class="title">Поставщики</div>
        {% if request.user.is_staff %}
            <a href="{% url "add_new_supplier" %}"><button class="btn btn-outline-primary">Добавить поставщика</button></a>
        {% endif %}
        <div class="supplier__container">
            {% for supplier in object_list %}
                <div class="supplier">
                    <h2>Название компании: {{ supplier.name }}</h2>
                    <h3>ФИО: {{ supplier.agent_lastname }} {{ supplier.agent_name }} {{ supplier.agent_surname }}</h3>
                    <p>Телефон: {{ supplier.phone }}</p>
                    <div class='section__btn' style="margin-top: 20px">
                        <a href="{% url "supplier_menu" supplier.pk %}"><button class="btn btn-outline-success">Подробнее</button></a>
                        {% if request.user.is_staff %}
                            <a href="{% url "update_supplier" supplier.pk %}"><button class="btn btn-outline-warning">Изменить</button></a>
                            <form action="{% url "delete_supplier" supplier.pk %}" method='post'>
                                {% csrf_token %}
                                <a href='#'><button class="btn btn-outline-danger">Удалить</button></a>
                            </form>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}