@import url(./home.css);
@import url(./form.css);
@import url(./all_supplier.css);
@import url(./detail_supplier.css);
@import url(./detail_product.css);
@import url(./all_order.css);
@import url(./detail_order.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 15px;
}

*::-webkit-scrollbar-track {
    background: transparent; 
}

*::-webkit-scrollbar-thumb {
    background: #fff; 
    border-radius: 10px;
}
  
*::-webkit-scrollbar-thumb:hover {
    background: #ffffffcd; 
    border-radius: 10px;
}

body {
    background-color: #2e2c2c;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff
}

.message {
    width: 200px;
    height: auto;
    padding: 10px;
    position: absolute;
    top: 70px;
    right: 20px;
    background-color: #fff;
    color: #000;
    border-radius: 10px;
    font-family: 'Roboto Mono';
    font-size: 16px;
    transition: .3s ease-in-out;
}