/* header mobile */
@media (max-width: 1116px) {
  .header__list {
    width: 600px;
  }
  .list {
    font-size: 13px;
  }
  .header__contact,
  .header__logo {
    font-size: 13px;
  }
}
@media (max-width: 794px) {
  .header__list {
    display: none;
  }
  .burger {
    display: block;
  }
  .header__contact {
    display: none;
  }
  .language__change {
    margin-right: 0px;
  }
}
@media (max-width: 457px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 400px) {
  .header__logo {
    height: 50px;
    margin-right: 20px;
  }
  .burger {
    height: 40px;
  }
  .burger span {
    margin-top: 20px;
  }
}
/* navigation */
@media (max-width: 400px) {
  nav {
    padding-left: 20px;
  }
}
/* blog */

/* @media (min-width: 1488px) {
  .blog__title {
    font-size: 34px;
  }
  .blog__subtitle {
    font-size: 20px;
  }
  .page,
  .blog {
    max-width: 1488px !important;
  }
  .blog__wrap {
    grid-template-rows: 520px 520px 520px;
  }
  .post__name {
    font-size: 25px;
  }
  .post__content {
    font-size: 18px;
  }
  .preview__text{
    font-size: 50px;
  }
} */
@media (max-width: 934px) {
  .blog__wrap {
    grid-template-columns: 45% 45%;
    grid-template-rows: 460px 460px;
  }
}

@media (max-width: 707px) {
  .blog__wrap {
    grid-template-columns: 80%;
  }
}
@media (max-width: 375px) {
  .blog__wrap {
    grid-template-columns: 85%;
    grid-template-rows: 480px;
  }
}
@media (max-width: 354px) {
  .blog__wrap {
    grid-template-columns: 85%;
    grid-template-rows: 520px;
  }
}
/* footer */
@media (max-width: 1023px) {
  footer {
    flex-flow: column;
    height: 100%;
    overflow-y: hidden;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  .footer__info {
    width: 100%;
  }
  .firstName {
    align-self: center;
    margin-left: 0px;
  }
  .secondName {
    align-self: center;
  }
  .thirdName {
    align-self: center;
    margin-right: 0px;
  }
  .footer__info__name::after {
    bottom: -7px;
  }
  .footer__info__description {
    text-align: center;
  }
  .footer__social,
  .footer__mail {
    justify-content: center;
    margin-right: 0px;
  }
  .firstName {
    margin-left: 0px;
  }
}
@media (max-width: 526px) {
  footer {
    height: 160px;
  }
  .footer__background {
    height: 160px;
  }
}
@media (max-width: 389px) {
  footer {
    height: 180px;
  }
  .footer__background {
    height: 180px;
  }
}
@media (max-width: 352px) {
  footer {
    height: 200px;
  }
  .footer__background {
    height: 200px;
  }
}
/* contact popup */
@media (max-width: 618px) {
  .contact__popup {
    width: 320px;
    height: 530px;
  }
  .contact__social {
    display: grid;
    grid-template-columns: repeat(5, 40px);
    grid-template-rows: repeat(5, 40px);
    grid-gap: 10px;
    height: 100px;
  }
}
/* pc ver */
@media (min-width: 1358px) {
  .list {
    font-size: 17px;
  }
  .preview__text {
    font-size: 45px;
  }
  .blog__subtitle {
    font-size: 20px;
  }
  .blog__title {
    font-size: 35px;
  }
  .post__type,
  .read__time {
    font-size: 13px;
  }
  .post__name {
    font-size: 22px;
  }
  .post__content{
    font-size: 14px;
  }
}
