@import "../CSS/themes/dark.css";
@import "../CSS/themes/light.css";

/* header */
.header__background{
  height: 100px;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
  transition: 1s;
  z-index: 3;
}
header {
  max-width: 1280px;
  width: 100%;
  height: 100px;
  padding-right: 50px;
  padding-left: 50px;
  position: fixed;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 1s;
}
.header__logo {
  height: 60px;
  width: 180px;
  border-radius: 15px;
  background: #1c9ee0;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  font-weight: 600;
  letter-spacing: 1px;
}
.burger{
  height: 40px;
  width: 40px;
  position: relative;
  display: none;
  cursor: pointer;
  margin-right: 20px;
}
.burger::before{
  content: "";
  width: 40px;
  height: 2px;
  background: #fff;
  position: absolute;
}
.burger::after{
  content: "";
  width: 40px;
  height: 2px;
  background: #fff;
  position: absolute;
  bottom: 0;
}
.burger span{
  height: 2px;
  width: 40px;
  position: absolute;
  margin-top: 20px;
  background: #fff;
}
.header__list {
  width: 45%;
  display: flex;
  color: #fff;
  font-size: 15px;
  justify-content: space-evenly;
}
.theme__changer {
  color: #fff;
  cursor: pointer;
}
.list {
  cursor: pointer;
  transition: 0.5s;
}
.list:hover {
  color: #8dbbd2;
}
.choosen {
  color: #8dbbd2;
}
.change__contact__wrap {
  min-width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.change__theme {
  height: 60px;
  width: 60px;
  background: #1c9ee0;
  border-radius: 50%;
  margin-right: 20px;
}
.header__contact,
.other__fact__contact {
  height: 60px;
  width: 180px;
  background: var(--main-color);
  border-radius: 15px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  transition: .5s;
  letter-spacing: 1px;
}
.show__header {
  background: #1c9ee0;
}
.show__header__v2 {
  background: #fff;
  color: #1c9ee0;
}

/* preview */

.preview__wrap {
  position: absolute;
  width: 100%;
  height: 593px;
  background: #000;
  z-index: -1;
  left: 0;
  right: 0;
}
.preview {
  width: 100%;
  height: 593px;
  padding-left: 50px;
  display: flex;
  align-items: center;
}
.preview__info {
  height: fit-content;
  width: 45%;
  display: flex;
  flex-flow: column;
  margin-top: 100px;
}
.preview__text {
  font-family: "Monto";
  color: #fff;
  font-size: 27px;
  font-weight: 600;
}
.preview__description {
  color: #fff;
  margin-top: 20px;
  line-height: 1.5;
  font-size: 16px;
}
.preview__btns {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: fit-content;
}
.preview__btns a {
  height: 50px;
  min-width: 150px;
  margin-left: 10px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1c9ee0;
  color: #fff;
  mask-image: linear-gradient(
    -60deg,
    rgba(0, 0, 0, 0.9) 50%,
    #000 50%,
    rgba(0, 0, 0, 0.9) 80%
  );
  mask-size: 200%;
  animation: wave 1s infinite;
}
button{
  mask-image: linear-gradient(
    -60deg,
    rgba(0, 0, 0, 0.9) 50%,
    #000 50%,
    rgba(0, 0, 0, 0.9) 80%
  );
  mask-size: 200%;
  animation: wave 1s infinite;
}
@keyframes wave {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

.preview__btns a:nth-child(1) {
  margin-left: 0px;
  background: transparent;

}
.preview__btns a:nth-child(2) {
  background: transparent;
  border: 2px solid #1c9ee0;

}
.preview__btns a:nth-child(3) {
  min-width: 220px;
}
.download{
  background: transparent;
}
.contact__btn__prev{
  background: #1c9ee0 !important;

  margin-left: 0px;
}
.social__btns {
  margin-top: 20px;
  display: flex;
  width: 100%;
  height: fit-content;
}
.social {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin-left: 10px;
  transition: 0.5s;
}
.social__img{
  height: 100%;
  width: 100%;
}
.social:nth-child(1) {
  margin-left: 0px;
}
.social:hover {
  scale: 1.1;
}
/* facts */
.facts {
  width: 100%;
  max-width: 1280px;
  height: fit-content;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.fact__subtitle,
.other__fact__subtitle {
  color: #1c9ee0;
  margin-top: 40px;
  font-size: 15px;
  font-weight: 500;
  line-height: 1.5;
}
.fact__subtitle:nth-child(3) {
  margin-top: 26px;
}
.fact__title,
.other__fact__title {
  margin-top: 40px;
  font-size: 35px;
  color: #2e363e;
  font-weight: 600;
  width: 100%;
  text-align: center;
  line-height: 1.35;
}
.facts__wrap {
  width: 100%;
  height: fit-content;
  margin-top: 40px;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-template-rows: 300px 300px 300px;
}
.fact {
  transition: 0.5s;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}
.fact:hover {
  background: #badcec;
}
.fact__img {
  height: 50px;
  width: 50px;
  margin-top: 20px;
}
.fact__name {
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #2e363e;
  text-align: center;
}
.fact__description {
  margin-top: 10px;
  text-align: center;
  line-height: 1.5;
}
/* swiper */
.logo__background{
  background: #1c9ee0;
  height: 200px;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin-top: 50px;
  z-index: 0;
}
.logo-container {
  width: 100%;
  max-width: 1280px;
  height: 200px;
  margin-top: 50px;
  background: #1c9ee0;
}
.logo-slide {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 45px;
}
/* other facts */
.other__facts {
  width: 100%;
  max-width: 1280px;
  height: 800px;
  padding-left: 50px;
  padding-right: 50px;
}
.other__fact__title {
  width: 60%;
  margin-top: 0px;
  margin-left: 0px;
  text-align: left;
}
.other__facts__wrap {
  display: flex;
}
.other__facts__block {
  height: 460px;
  display: grid;
  width: 65%;
  grid-template-columns: 39% 39%;
  grid-template-rows: 230px 230px;
  margin-top: 20px;
}
.other__facts__img {
  height: 460px;
  width: 35%;
}
.other__fact {
  padding-right: 30px;
}
.other__fact__img {
  height: 45px;
  width: 40px;
}
.other__fact__name {
  color: #2e363e;
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  line-height: 1.2;
}
.price {
  scale: 1.3;
}
.other__fact__description {
  font-size: 13px;
  line-height: 1.5;
  margin-top: 10px;
}
.fourth__child {
  margin-top: 30px;
}
.fact__btn{
  transition: .5s;
}
/* slider-screen */
.programm__screenshots {
  width: 100%;
  max-width: 1280px;
  background: rgb(245, 249, 255);
  margin-top: 20px;
  padding: 50px 0;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: auto;
  position: relative;
}
@media(min-width: 1280px){
  .programm__screenshots{
    max-width: 100%;
  }
}
.screenshoots__title {
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  width: 100%;
  color: #2e363e;
}
.screenshot-container {
  width: 90%;
  height: auto;
  margin-top: 20px;
}
.screen {
  height: 100%;
  width: 800px;
}
.screen__photo {
  width: 100%;
  height: 510px;
  border-radius: 15px;
}
.screenshot-wrap {
  display: flex;
}
.screen__name {
  color: #1c9ee0;
  margin-top: 10px;
  width: 100%;
  text-align: center;
  font-size: 16px;
  margin-bottom: 20px;
}
.screen__btn {
  background: #1c9ee0;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  margin-top: 30px;
}
.screen__btn::after {
  scale: 0.5;
  margin-left: 0;
  margin-right: 0;
  color: #fff;
}
.swiper-slide-active {
  transition: 1s;
  scale: 1.05;
}
/* stats */
.stats__background{
  height: 300px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute;
  margin-top: 10px;
  background: #000;
}
.stats {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  max-width: 1280px;
  padding-left: 50px;
  padding-right: 50px;
  background: #000;
  margin-top: 10px;
}
.online__users {
  height: 300px;
  width: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
}
.stats__wrap {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.site__stats {
  width: 400px;
  height: 200px;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 100px 100px;
}
.online {
  color: #fff;
  font-size: 130px;
  font-weight: 600;
}
.online__text {
  color: #fff;
  margin-top: 5px;
  font-size: 16px;
}
.stat {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
.stat__first {
  border-right: 2px solid #1c9ee0;
  border-bottom: 2px solid #1c9ee0;
}
.stat__third {
  border-right: 2px solid #1c9ee0;
}
.stat__second {
  border-bottom: 2px solid #1c9ee0;
}
.stat__count {
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.stat__name {
  color: #1c9ee0;
  margin-top: 5px;
  letter-spacing: 1px;
}
/* price */
.price__list {
  width: 100%;
  max-width: 1280px;
  height: fit-content;
}
.price__list__title {
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: #2e363e;
  font-size: 30px;
  font-weight: 600;
}
.price__list__wrap {
  width: 100%;
  display: flex;
  height: fit-content;
  margin-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
}
.price__block {
  width: 30%;
  height: 560px;
  border-radius: 10px;
  border: 1px solid #1c9ee0;
  display: flex;
  flex-flow: column;
  align-items: center;
  transition: .5s;
}
.price__block:hover{
  scale: 1.05;
}
.price__main {
  height: 150px;
  width: 90%;
  border-bottom: 2px solid #d1d1d1;
}
.price__img {
  height: 50px;
  width: 50px;
  margin-top: 20px;
}
.price__price {
  margin-top: 30px;
  font-size: 17px;
  color: #2e363e;
}
.price__price span {
  font-size: 25px;
  font-weight: 600;
}
.price__title {
  margin-top: 20px;
  color: #2e363e;
  width: 100%;
  text-align: left;
  margin-left: 32px;
  font-size: 17px;
  font-weight: 600;
}
.plug{
  height: 40px;
  margin-top: 10px;
  width: 80%;
}
.first__mark {
  margin-top: 20px;
}
.price__mark {
  height: 35px;
  width: 90%;
  display: flex;
  align-items: center;
}
.price__check {
  height: 35px;
  width: 35px;
  scale: 0.6;
  margin-top: 5px;
  display: flex;
  justify-content: center;
  position: relative;
}
.price__check::after {
  content: "";
  height: 15px;
  position: absolute;
  margin-top: 10px;
  width: 2px;
  background: #2e363e;
  rotate: -50deg;
  margin-right: 10px;
}
.price__check::before {
  content: "";
  height: 25px;
  position: absolute;
  width: 2px;
  background: #2e363e;
  rotate: 45deg;
  margin-left: 18px;
  margin-top: 1px;
}
.price__description {
  font-size: 12px;
}
.price__buy {
  height: 40px;
  width: 80%;
  color: #fff;
  background: #1c9ee0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  transition: .5s;
}
.price__buy:hover{
  scale: 1.05;
}
.price__buy:last-child{
  margin-top: 10px;
}
/* contact popup */
.contact__popup__wrap{
  height: 100vh;
  width: 100vw;
  background: #2e363eaa;
  position: fixed;
  z-index: 4;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: .5s;
}
.show{
  opacity: 1;
  pointer-events: all;
}
.hide{
  display: none;
}
.contact__popup{
  height: 460px;
  width: 600px;
  border-radius: 10px;
  background: #f1f1f1;
  border: 4px solid #1c9ee0;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 15px;
}
.contact__text__wrap{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.contact__title{
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 23px;
}
.contact__social{
  width: 90%;
  display: flex;
  height: 40px;
  justify-content: center;
  margin-top: 20px;
}
.contact__social a {
  height: 40px;
  min-width: 40px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 50%;
  transition: .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contact__social a:hover{
  scale: 1.05;
}
.contact__social a img {
  height: 100%;
  width: 100%;
}
.contact__form{
  width: 82%;
  margin-top: 20px;
  height: fit-content;;
  display: flex;
  flex-flow: column;
}
.contact__name,.contact__login,.contact__message{
  width: 100%;
  min-height: 45px;
  padding-left: 20px;
  border-radius: 15px;
  border: 2px solid #1c9ee0;
  background: transparent;
}
.contact__login{
  margin-top: 10px;
}
.contact__message{
  margin-top: 10px;
  padding-top: 20px;
  min-height: 130px;
  resize: none;
}
.contact__send{
  width: 100%;
  margin-top: 10px;
  min-height: 60px;
  background: #1c9ee0;
  border-radius: 15px;
  color: #fff;
}
.incorrect__input{
  border: 2px solid red;
}
/* reviews */

.reviews__wrap{
  max-width: 1280px;
  width: 100%;
  height: fit-content;
  background-position: center;
  background-size: cover;
  margin-top: 50px;
  background-attachment: fixed;
  position: relative;
  padding-right: 50px;
 
}
.review__background{
  width: 100%;
  height: 530px;
  position: absolute;
  z-index: 0;
  right: 0;
  left: 0;
  background: url('../IMG/backgroundv2.jpg');
  margin-top: 50px;
}
.reviews__title{
  color: #fff;
  width: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 25px;
  position: relative;
  top: 50px;
}
.reviews-container{
  width: 100%;
  max-width: 1280px;
  min-height: 500px;
  display: flex;
  align-items: center;
}
.review{
  min-width: 400px;
  height: 250px;
  background: #1c9ee0;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  border: 2px solid #95bed3;
}
.review__name{
  color: #fff;
  font-size: 22px;
  font-weight: 500;
}
.review__stars{
  display: flex;
  height: 15px;
  margin-top: 5px;
  width: 100%;
}
.star{
  background-color: yellow;
  clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
  display: inline-block;
  height: 15px;
  width: 15px;
}
.review__description{
  color: #fff;
  margin-top: 5px;
  font-size: 13px;
  line-height: 1.3; 
}
/* ask // question */
.ask__question{
  max-width: 1280px;
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  padding-bottom: 50px;
}
.ask__question__title{
  width: 100%;
  text-align: center;
  color: #2e363e;
  font-size: 25px;
}
.ask__question__wrap{
  height: fit-content;
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: minmax(80px, auto) minmax(80px, auto);
  grid-gap: 15px;
  justify-content: center;
  margin-top: 20px;
}
.question{
  border: 1px solid #1c9ee0;
  height: fit-content;
  min-width: 200px;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
  padding-left: 20px;
  cursor: pointer;
  transition: 1s;
}
.question__info{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.circle__arrow{
  height: 20px;
  min-width: 20px;
  border-radius: 50%;
  background: #1c9ee0;
  display: flex;
  align-items: center;
  position: relative;
}
.circle__arrow::before{
  content: "";
  position: absolute;
  height: 2px;
  width: 16px;
  background: #fff;
  margin-left: 2px;
  scale: 0.8;
}
.circle__arrow::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 7px;
  margin-top: 5px;
  background: #fff;
  rotate: -46deg;
  margin-left: 12px;
  scale: 0.8;
}
.circle__arrow span{
  height: 2px;
  position: absolute;
  width: 7px;
  background: #fff;
  margin-bottom: 5px;
  rotate: 46deg;
  margin-left: 12px;
  scale: 0.8;
}
.question__name{
  margin-left: 10px;
  font-size: 13px;
  font-weight: 500;
  line-height: 1.2;
}
.question__text{
  display: flex;
  width: fit-content;
  height: 100%;
  align-items: center;
  justify-content: flex-start;
}
.hide__show__question{
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 20px;
}
.hide__show__question::before{
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #1c9ee0;
}
.hide__show__question::after{
  content: "";
  position: absolute;
  width: 20px;
  height: 2px;
  background: #1c9ee0;
  rotate: 90deg;
}
.answer{
  height: 0;
  width: 100%;
  transition: 1s;
}
.answer__text{
  opacity: 0;
  transition: 1s;
}
.show__text{
  opacity: 1;
}
.show__answer {
  height: 180px;
}
/* premium modules */
.premium__modules{
  max-width: 1280px;
  width: 100%;
  height: fit-content;
}
.modules__title{
  margin-top: 50px;
  width: 100%;
  text-align: center;
  color: #2e363e;
  font-size: 30px;
  font-weight: 600;
}
.modules__wrap{
  width: 100%;
  display: grid;
  height: fit-content;
  grid-template-columns: 45% 45%;
  grid-template-rows: 180px 180px 180px;
  justify-content: center;
  grid-gap: 15px;
  margin-top: 50px;
}
.module{
  background: #1c9ee0;
  border-radius: 15px;
  padding-top: 20px;
  padding-left: 20px;
  transition: .5s;
}
.module:hover{
  scale: 1.03;
}
.module__name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
}
.module__description{
  margin-top: 10px;
  color: #fff;
  line-height: 1.2;
  padding-right: 20px;
}
.buy__btn__wrap{
width: 100%;
height: fit-content;
display: flex;
justify-content: space-between;
align-items: center;
height: 50px;
padding-right: 15px;
}
.buy__module{
  width: 160px;
  height: 40px;
  border-radius: 10px;
  background: #fff;
  letter-spacing: 1px;
  font-size: 15px;
}
.buy__module span{
  font-weight: 600;
}
.module__link{
  width: 160px;
  height: 40px;
  border-radius: 10px;
  background: #fff;
  color: #2e363e;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}
.module__link:hover{
  scale: 1.05;
}
/* other contact */

.other__contact{
  max-width: 1280px;
  width: 100%;
  height: 300px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.other__contact__background{
  background: #000;
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  height: 300px;
  z-index: -1;
}
.other__contact__title{
  color: #fff;
  font-size: 25px;
  padding-top: 50px;
  text-align: center;
  width: 100%;
}
.other__contact__description{
  margin-top: 20px;
  color: #fff;
  line-height: 1.5;
  width: 50%;
  text-align: center;
}
.other__contact__buy{
  margin-top: 20px;
  height: 40px;
  width: 180px;
  border-radius: 30px;
  background: #1c9ee0;
  color: #fff;
}
/* blogs */
.blog{
  max-width: 1280px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.blog__subtitle{
  font-size: 14px;
  color: #1c9ee0;
  font-weight: 500;
  letter-spacing: 1px;
}
.blog__title,.blog__subtitle{
  width: 100%;
  text-align: center;
  line-height: 1.5;
}
.blog__title{
  color: #2e363e;
  margin-top: 20px;
  font-size: 22px;
}
.blog__subtitle:first-child{
  margin-top: 50px;
}
.blog__subtitle:nth-child(3){
  margin-top: 20px;
  width: 50%;
}
.blog__posts{
  width: 100%;
  height: 460px;
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  justify-content: space-between;
  margin-top: 20px;
}
.post{
 height: 100%;
 width: 30%;
 border: 2px solid #1c9ee0;
 border-radius: 15px;
}
.post__img{
  width: 100%;
  height: 200px;
  border-top-left-radius: 13px;
  border-top-right-radius: 13px;
}
.post__info{
  width: 100%;
  height: 30px;
  display: flex;
}
.post__type{
  height: 100%;
  width: 120px;
  border-radius: 15px;
  background: #1c9ee0;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 12px;
}
.time__data{
  height: 100%;
  display: flex;
  align-items: center;
  width: 150px;
  margin-left: 20px;
  margin-top: 20px;
}
.point{
  height: 15px;
  width: 15px;
}
.read__time{
  margin-left: 10px;
  font-size: 12px;
  color: #2e363e;
  letter-spacing: 1px;
}
.post__name{
  color: #2e363e;
  margin-top: 30px;
  font-size: 20px;
  margin-left: 20px;
}
.post__content{
  margin-left: 20px;
  font-size: 12px;
  line-height: 1.2;
  color: #2e363e;
  padding-right: 20px;
  margin-top: 20px;
}
.line__read{
  height: 40px;
  border-top: 2px solid #d1d1d1;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.read__text{
  color: #1c9ee0;
  transition: .5s;
}
.read__text:hover{
  scale: 1.05;
}
/* contact us */
.contact__us{
  max-width: 1280px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-left: 50px; 
  padding-right: 50px;

}
.contact__us__subtitle{
  font-weight: 500;
  color: #1c9ee0;
  margin-top: 50px;
  text-align: center;
}
.contact__us__title{
  text-align: center;
  font-size: 25px;
  color: #2e363e;
  margin-top: 10px;
}
.contact__us__form{
  max-width: 70%;
  margin-top: 20px;
}
.contact__us__wrap{
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: space-between;
}
.contact__us__data{
  border-radius: 15px;
  background: #1c9ee0;
  width: 27%;
  height: 300px;
  margin-top: 20px;
  padding-left: 15px;
  padding-top: 30px;
}
.contact__us__name{
  color: #fff;
  font-size: 20px;
}
.contact__us__mail{
  color: #e1e1e1;
  margin-top: 10px;
  padding-bottom: 30px;
}
.contact__us__social__list{
  margin-top: 10px;
  display: grid;
  grid-template-columns: 40px 40px 40px 40px;
  grid-template-rows: 40px 40px 40px 40px;
  width: 100%;
  height: 40px;
  grid-gap: 10px;
}
.contact__us__social__list a{
  height: 40px;
  width: 40px;
  border-radius: 50%;
  transition: .5s;
}
.contact__us__social__list a:first-child{
  margin-left: 0px;
}
.contact__us__social__list a:hover{
  scale: 1.05;
}
/* partners */
.partners{
  max-width: 1280px;
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-left: 9px;
  padding-right: 50px;
  padding-left: 50px;
}
.partners__subtitle{
  color: #1c9ee0;
  letter-spacing: 1px;
  margin-top: 50px;
  width: 100%;
  text-align: center;
}
.partners__title{
  width: 100%;
  margin-top: 20px;
  text-align: center;
  color: #2e363e;
  font-size: 25px;
}
.partner-container{
  width: 100%;
  max-width: 1280px;
  min-height: 150px;
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.partner-wrapper{
  width: 80%;
}
.partner{
  height: 100%;
  height: 100px;
  transition: .5s;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fafafa;
}
.partner:hover{
  scale: 1.05;
}
.partner__img{
  height: 70px;
  width: 140px;
}
/* footer */
.mail__content {
  display: flex;
  height: 30px;
  width: 100%;
  align-items: center;
}
.mail__img {
  height: 25px;
  width: 25px;
}
.mail__name {
  font-size: 15px;
  margin-left: 10px;
}
.social__list {
  width: 100%;
  height: 40px;
  display: flex;
  margin-right: 20px;
}
.social__list a {
  height: 40px;
  width: 40px;
  transition: 0.5s;
}
.social__list a:hover {
  scale: 1.05;
}
.social__list a {
  margin-left: 10px;
}
.social__list a:first-child {
  margin-left: 0px;
}
.social__img {
  border-radius: 50%;
  height: 40px;
  width: 40px;
}
.contact__second__form {
  width: 50%;
}
.third__subtitle {
  display: flex;
  justify-content: flex-end;
}
.contact__send{
  font-size: 17px;
}
footer {
  width: 100vw;
  max-width: 1280px;
  height: 200px;
  background: #1c9ee0;
  display: flex;
}
.footer__info {
  width: 33%;
  height: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.footer__info__name {
  color: #fff;
  font-size: 24px;
  margin-top: 20px;
  position: relative;
  display: flex;
  align-items: flex-end;
}
.footer__info__name::after{
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background: #0d76ab;
  bottom: -5px;
}
.firstName {
  align-self: flex-start;
  margin-left: 28px;
}
.secondName {
  align-self: center;
}
.thirdName {
  align-self: flex-end;
  margin-right: 20px;
}
.footer__info__description{
  margin-left: 28px;
  margin-top: 10px;
  color: #fff;
  line-height: 1.4;
}
.footer__link{
  color: #fff;
  margin-top: 5px;
  transition: .5s;
}
.footer__link:hover{
  color: #8acbec;
}
.firstLink{
  margin-top: 10px;
}
.footer__mail{
  color: #fff;
  margin-top: 10px;
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
}
.thirdInfo{
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.footer__social{
  justify-content: flex-end;
  margin-top: 20px;
}
.footer__background{
  width: 100%;
  left: 0;
  right: 0;
  position: absolute;
  z-index: -1;
  background: #1c9ee0;
  height: 200px;
}
/* scammer warn popup */
.scammer__warn__popup__wrap{
  height: 100vh;
  width: 100vw;
  display: flex;
  background: #2e363eaa;
  z-index: 4;
  position: fixed;
  align-items: center;
  justify-content: center;
  transition: .5s;
  opacity: 0;
  pointer-events: none;
}
.scammer__popup__warn{
  height: fit-content;
  width: 320px;
  border-radius: 15px;
  background: #f1f1f1;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}
.contact__text a {
  color: #1c9ee0;
  transition: .5s;
}
.contact__text a:hover{
  text-decoration: underline;
}
.scammer__popup__title{
  color: #2e363e;
  width: 100%;
  text-align: center;
  margin-top: 20px;
  font-size: 20px;
}
.scammer__popup__subtitle{
  color: #a1a1a1;
  font-size: 13px;
  line-height: 1.4;
  width: 100%;
  text-align: center;
  margin-top: 10px;
}
.scammer__popup__description{
  margin-top: 10px;
  width: 100%;
  height: 200px;
  border-radius: 10px;
  border: 2px solid #1c9ee0;
  color: #a1a1a1;
  font-size: 13px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  justify-content: center;
}
.show__contacts{
  border: 2px solid #1c9ee0;
  margin-top: 20px;
  border-radius: 10px;
  height: fit-content;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  display: none;
  opacity: 0;
  transition: 1s;
}
.contact__text{
  color: #a1a1a1;
  margin-top: 2px;
  margin-bottom: 2px;
}
.scammer__popup__btn{
  width: 100%;
  margin-top: 10px;
  background: #1c9ee0;
  border-radius: 10px;
  height: 40px;
  color: #fff;
}
.show{
  opacity: 1;
  pointer-events: all;
}
.hide{
  opacity: 0;
  pointer-events: none;
}
/* burger menu */
.burger__menu{
  height: 100vh;
  width: 180px;
  position: fixed;
  background: #fff;
  z-index: 7;
  right: 0;
  transition: 1s;
}
.list__blog{
  color: #000;
}
.burger__close__wrap{
  width: 100%;
  display: flex;
  height: 50px;
  align-items: center;
  justify-content: space-between;
  padding-left: 10px;
}
.project__name{
  color: #1c9ee0;
  font-size: 11px;
  letter-spacing: 1px;
}
.cross{
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: .5s;
}
.cross:hover{
  scale: 1.05;
}
.cross::before{
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  background: #1c9ee0;
  rotate: 45deg;
}
.cross::after{
  content: "";
  position: absolute;
  height: 20px;
  width: 2px;
  background: #1c9ee0;
  rotate: -45deg;
}
.burger__list{
  width: 100%;
  padding-right: 20px;
  height: fit-content;
  display: flex;
  flex-flow: column;
  align-items: flex-end;
}
.burger__list .list{
  margin-top: 18px;
  font-size: 18px;
  letter-spacing: 1px;
}
.burger__list .list:first-child{
  margin-top: 0px;
}
.hide__burger{
  transform: translateX(180px);
}
/* language toogle */ 
.language__change{
  background: #1c9ee0;
  height: 40px;
  width: 80px;
  border-radius: 10px;
  display: flex;
  margin-right: 20px;
  align-items: center;
  color: #fff;
  justify-content: space-evenly;
  transition: .5s;
  cursor: pointer;
}
.language__change:hover{
  scale: 1.05;
}
.lang__img{
  height: 30px;
  width: 30px;
}