@media (max-width: 1116px) {
  .header__list {
    width: 600px;
  }
  .list {
    font-size: 13px;
  }
  .header__contact,
  .header__logo {
    font-size: 13px;
  }
}
@media (max-width: 855px) {
  .header__contact,
  .header__logo {
    font-size: 12px;
  }
}
@media (max-width: 794px) {
  .header__list {
    display: none;
  }
  .burger {
    display: block;
  }
  .header__contact {
    display: none;
  }
  .language__change {
    margin-right: 0px;
  }
}
@media (max-width: 457px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 400px) {
  .header__logo {
    height: 50px;
    margin-right: 20px;
  }
  .burger {
    height: 40px;
  }
  .burger span {
    margin-top: 20px;
  }
}
@media (max-width: 1023px) {
  footer {
    flex-flow: column;
    height: 100%;
    overflow-y: hidden;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  .footer__info {
    width: 100%;
  }
  .firstName {
    align-self: center;
    margin-left: 0px;
  }
  .secondName {
    align-self: center;
  }
  .thirdName {
    align-self: center;
    margin-right: 0px;
  }
  .footer__info__name::after {
    bottom: -7px;
  }
  .footer__info__description {
    text-align: center;
  }
  .footer__social,
  .footer__mail {
    justify-content: center;
    margin-right: 0px;
  }
  .firstName {
    margin-left: 0px;
  }
}
@media (max-width: 526px) {
  footer {
    height: 160px;
  }
  .footer__background {
    height: 160px;
  }
}
@media (max-width: 389px) {
  footer {
    height: 180px;
  }
  .footer__background {
    height: 180px;
  }
}
@media (max-width: 352px) {
  footer {
    height: 200px;
  }
  .footer__background {
    height: 200px;
  }
}
@media (min-width: 1358px) {
  .list {
    font-size: 17px;
  }
  .base__description{
    font-size: 20px;
  }
  .post__subtitle{
    font-size: 25px;    
  }
  .post__subinfo{
    font-size: 15px;
  }
}
