/* header mobile */

@media (max-width: 1116px) {
  .header__list {
    width: 600px;
  }
  .list {
    font-size: 13px;
  }
  .header__contact,
  .header__logo {
    font-size: 13px;
  }
}
@media (max-width: 794px) {
  .header__list {
    display: none;
  }
  .burger {
    display: block;
  }
  .header__contact {
    display: none;
  }
  .language__change {
    margin-right: 0px;
  }
}
@media (max-width: 457px) {
  header {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 400px) {
  .header__logo {
    height: 50px;
    margin-right: 20px;
  }
  .burger {
    height: 40px;
  }
  .burger span {
    margin-top: 20px;
  }
}
/* shop mobile */
@media (max-width: 1141px) {
  .shop {
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .shop__navigation {
    height: fit-content;
    width: 100%;
    padding-top: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    display: flex;
  }
  .shop__section {
    margin-top: 20px;
    margin-left: 0px;
  }
  .nav__list {
    margin-top: 0px;
    margin-left: 20px;
  }
  .nav__list:first-child {
    margin-left: 0px;
  }
}
@media (max-width: 997px) {
  .product {
    scale: 0.8;
  }
  .showed__section {
    grid-template-columns: 224px 224px 224px;
    grid-template-rows: 280px 280px;
  }
  .shop__section {
    width: 100%;
  }
  .product__btn {
    min-height: 40px;
  }
  .product__img {
    height: 140px;
    width: 140px;
  }
}
@media (max-width: 778px) {
  .showed__section {
    grid-template-columns: 224px 224px;
    grid-template-rows: 280px 280px;
  }
  .shop__navigation {
    display: grid;
    grid-template-columns: 150px 150px;
    grid-template-rows: 20px 20px;
    justify-content: center;
    grid-gap: 10px;
  }
  .nav__list {
    margin-left: 0px;
  }
}
@media (max-width: 533px) {
  .shop__subtitle {
    line-height: 1.4;
  }
  .showed__section {
    display: flex;
    flex-flow: column;
    align-items: center;
    grid-gap: 0px;
  }
  .product {
    height: 30%;
    width: 100%;
    margin-top: 0px;
  }
  .product__img {
    height: 300px;
    width: 100%;
  }
  .product__btn {
    min-height: 40px !important;
  }
  .shop__wrap {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (max-width: 421px) {
  .nav__list {
    font-size: 15px;
  }
  .shop__navigation {
    justify-content: center;
    grid-template-columns: 110px 110px;
  }
}
@media (max-width: 389px) {
  .product__img {
    height: 250px;
  }
}
/* footer */
@media (max-width: 1023px) {
  footer {
    flex-flow: column;
    height: 100%;
    overflow-y: hidden;
    padding-bottom: 20px;
    padding-right: 20px;
  }
  .footer__info {
    width: 100%;
  }
  .firstName {
    align-self: center;
    margin-left: 0px;
  }
  .secondName {
    align-self: center;
  }
  .thirdName {
    align-self: center;
    margin-right: 0px;
  }
  .footer__info__name::after {
    bottom: -7px;
  }
  .footer__info__description {
    text-align: center;
  }
  .footer__social,
  .footer__mail {
    justify-content: center;
    margin-right: 0px;
  }
  .firstName {
    margin-left: 0px;
  }
}
@media (min-width: 1358px) {
  .list {
    font-size: 17px;
  }
  .shop__title {
    font-size: 35px;
  }
  .shop__subtitle {
    font-size: 20px;
  }
  .nav__list {
    font-size: 20px;
  }
  .product__name {
    font-size: 20px;
  }
  .product__button {
    font-size: 17px;
  }
  .product__description__name {
    font-size: 20px;
  }
  .product__description__description {
    font-size: 16px;
  }
  .choosen__products__title {
    font-size: 22px;
  }
  .product__name__input {
    font-size: 16px;
  }
  .card__product__price {
    font-size: 16px;
  }
  .product__name__input {
    font-size: 18px;
  }
  .product__input {
    font-size: 15px;
  }
  .payment__btn {
    font-size: 16px;
  }
}
/* description popup */
@media (max-width: 735px) {
  .product__description__popup {
    height: 700px;
    min-width: 320px;
    width: 85%;
    max-width: 450px;
  }
  .product__description__block{
    flex-flow: column;
  }
  .product__description__description{
    margin-top: 20px;
  }
  .product__text {
    margin-left: 0;
    margin-top: 25px;
  }
}
