{% extends "block/base.html" %}
{% load static %}


{% block styles %}
  <link rel="stylesheet" href="{% static "CSS/knowledgebase.css" %}" />
  <link rel="stylesheet" href="{% static "CSS/knowledgebasemobile.css" %}" />
{% endblock styles %}

{% block meta %}
  <meta name="description" content="Описание вашей страницы" />
  <meta name="keywords" content="Ключевые слова,через,запятую" />

  <!-- Превью -->
  <meta
    property="og:title"
    content="Telegram Prime - лучший софт для Telegram!"
  />
  <meta property="og:site_name" content="telegram-prime.info" />
  <meta property="og:description" content="Добавьте сюда своё описание" />
  <meta property="og:image" content="{% static "IMG/socialpreview.png" %}" />
{% endblock meta %}

{% block nav %}
  <a href="{% url "home_page" %}" class="list">Главная</a>
  <a href="{% url "shop_list" %}" class="list">Магазин</a>
  <p class="list" onclick="scrollToBlock(3998)">Цены</p>
  <a href="{% url "knowledgebase_list" %}" class="list choosen">База знаний</a>
  <a href="{% url "blog_page" %}" class="list">Блог</a>
  <a href="{% url "contact_page" %}">Контакты</a>
{% endblock nav %}

{% block header_nav %}
  <a href="{% url "home_page" %}" class="list">Главная</a>
  <a href="{% url "shop_list" %}" class="list">Магазин</a>
  <p class="list" onclick="scrollToBlock(3998)">Цены</p>
  <a href="{% url "knowledgebase_list" %}" class="list choosen">База знаний</a>
  <a href="{% url "blog_page" %}" class="list">Блог</a>
  <a href="{% url "contact_page" %}">Контакты</a>
{% endblock header_nav %}

{% block content %}
<main>
  <div class="preview__wrap" id="particles-js"></div>
  <div class="preview">
    <div class="preview__info">
      <h1 class="preview__text translate" data-aos="fade-up">
        База знаний
      </h1>
    </div>
  </div>
  <div class="navigation__background"></div>
  <nav class="navigation">
    <a href="{% url "home_page" %}">Главная</a>
    <p class="blog__page">> <span>База знаний</span></p>
  </nav>
  <div class="knowledge__base">
    <section class="know__block" onclick="showKnowledgeBase(0)">
      <p class="know__text">Название блока #1</p>
      <div class="know__answers">
        <ul class="know__list">
          <li>
            <a
              class="nav__base"
              href="{% url "knowbase_list" %}"
              id="0"
              onclick="changePage(0)"
              >Ваша ссылка #1</a
            >
          </li>
          <li>
            <a
              class="nav__base"
              href="{% url "knowbase_list" %}"
              id="1"
              onclick="changePage(1)"
              >Ваша ссылка #2</a
            >
          </li>
          <li>
            <a
              class="nav__base"
              href="{% url "knowbase_list" %}"
              id="2"
              onclick="changePage(2)"
              >Ваша ссылка #3</a
            >
          </li>
          <li>
            <a
              class="nav__base"
              href="{% url "knowbase_list" %}"
              id="3"
              onclick="changePage(3)"
              >Ваша ссылка #4</a
            >
          </li>
          <li>
            <a
              class="nav__base"
              href="{% url "knowbase_list" %}"
              id="4"
              onclick="changePage(4)"
              >Ваша ссылка #5</a
            >
          </li>
        </ul>
      </div>
    </section>
    <section class="know__block" onclick="showKnowledgeBase(1)">
      <p class="know__text">Название блока #2</p>
      <div class="know__answers">
        <ul class="know__list">
          <li><a href="">Ваша ссылка #1</a></li>
          <li><a href="">Ваша ссылка #2</a></li>
          <li><a href="">Ваша ссылка #3</a></li>
          <li><a href="">Ваша ссылка #4</a></li>
          <li><a href="">Ваша ссылка #5</a></li>
        </ul>
      </div>
    </section>
    <section class="know__block" onclick="showKnowledgeBase(2)">
      <p class="know__text">Название блока #3</p>
      <div class="know__answers">
        <ul class="know__list">
          <li><a href="">Ваша ссылка #1</a></li>
          <li><a href="">Ваша ссылка #2</a></li>
          <li><a href="">Ваша ссылка #3</a></li>
          <li><a href="">Ваша ссылка #4</a></li>
          <li><a href="">Ваша ссылка #5</a></li>
        </ul>
      </div>
    </section>
    <section class="know__block" onclick="showKnowledgeBase(3)">
      <p class="know__text">Название блока #4</p>
      <div class="know__answers">
        <ul class="know__list">
          <li><a href="">Ваша ссылка #1</a></li>
          <li><a href="">Ваша ссылка #2</a></li>
          <li><a href="">Ваша ссылка #3</a></li>
          <li><a href="">Ваша ссылка #4</a></li>
          <li><a href="">Ваша ссылка #5</a></li>
        </ul>
      </div>
    </section>
    <section class="know__block" onclick="showKnowledgeBase(4)">
      <p class="know__text">Название блока #5</p>
      <div class="know__answers">
        <ul class="know__list">
          <li><a href="">Ваша ссылка #1</a></li>
          <li><a href="">Ваша ссылка #2</a></li>
          <li><a href="">Ваша ссылка #3</a></li>
          <li><a href="">Ваша ссылка #4</a></li>
          <li><a href="">Ваша ссылка #5</a></li>
        </ul>
      </div>
    </section>
    <section class="know__block" onclick="showKnowledgeBase(5)">
      <p class="know__text">Название блока #6</p>
      <div class="know__answers">
        <ul class="know__list">
          <li><a href="">Ваша ссылка #1</a></li>
          <li><a href="">Ваша ссылка #2</a></li>
          <li><a href="">Ваша ссылка #3</a></li>
          <li><a href="">Ваша ссылка #4</a></li>
          <li><a href="">Ваша ссылка #5</a></li>
        </ul>
      </div>
    </section>
  </div>
</main>
{% endblock content %}

{% block scripts %}
    <!-- <script src="https://unpkg.com/swiper/swiper-bundle.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <!-- <script src="http://www.jsdelivr.com/#!particles.js"></script> -->
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/1.0.0/particles.min.js" integrity="sha512-zSXd15DNZUoXEVLbyfTa1XQFk33vi7CcJzPHdBh/7Y3NEEec+l/eBhg2RGgRutwQVfrt9EnBmrYzn6d3NxGG1w==" crossorigin="anonymous" referrerpolicy="no-referrer"></script> -->
    <script src="JS/plugins.js"></script>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <script src="{% static "JS/particles.js" %}"></script>
    <script src="{% static "LANG/languages.js" %}"></script>
    <script src="{% static "JS/index.js" %}"></script>
    <script src="{% static "JS/requests.js" %}"></script>
    <script src="{% static "JS/pagechanger.js" %}"></script>
    <script>
      AOS.init({
        offset: 120,
        duration: 800,
        easing: "ease-in-out",
      });
    </script>
{% endblock  %}