{% extends "block/base.html" %}
{% load static %}

{% block styles %}
<link rel="stylesheet" href="{% static "CSS/post.css" %}" />
<link rel="stylesheet" href="{% static "CSS/postmobile.css" %}" />
{% endblock styles %}

{% block meta %}
    <meta name="description" content="Описание вашей страницы">
    <meta name="keywords" content="Ключевые слова,через,запятую">

    <!-- Превью -->
     <meta property="og:title" content="Telegram Prime - лучший софт для Telegram!">
     <meta property="og:site_name" content="telegram-prime.info">
     <meta property="og:description" content="Добавьте сюда своё описание">
     <meta property="og:image" content="{% static "IMG/socialpreview.png" %}">
     
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
{% endblock meta %}

{% block content %}
<div class="nav__background"></div>
      <nav class="navigation">
        <a href="{% url "home_page" %}">Главная ></a>
        <a href="{% url "blog_page" %}">Блог</a>
        <p class="blog__page">> <span>{{post.title}}</span></p>
      </nav>
      <section class="post">{{ post.post | safe }}</section>
{% endblock content %}

{% block scripts %}
    <script src="{% static "JS/requests.js" %}"></script>
    <script src="{% static "JS/index.js" %}"></script>
{% endblock scripts %}