{% extends "block/base.html" %}
{% load static %}

{% block styles %}
  <link rel="stylesheet" href="{% static "CSS/shop.css" %}" />
  <link rel="stylesheet" href="{% static "CSS/shopmobile.css" %}" />
{% endblock styles %}

{% block meta %}
  <meta name="description" content="Описание вашей страницы">
  <meta name="keywords" content="Ключевые слова,через,запятую">

  <!-- Превью -->
  <meta property="og:title" content="Telegram Prime - лучший софт для Telegram!">
  <meta property="og:site_name" content="telegram-prime.info">
  <meta property="og:description" content="Добавьте сюда своё описание">
  <meta property="og:image" content="{% static "IMG/socialpreview.png" %}">
{% endblock meta %}

{% block nav %}
  <a href="{% url "home_page" %}" class="list">Главная</a>
  <a href="{% url "shop_list" %}" class="list choosen">Магазин</a>
  <p class="list" onclick="scrollToBlock(3998)">Цены</p>
  <a href="{% url "knowledgebase_list" %}" class="list">База знаний</a>
  <a href="{% url "blog_page" %}" class="list list__blog">Блог</a>
  <a href="{% url "contact_page" %}">Контакты</a>
{% endblock nav %}

{% block header_nav %}
  <a href="{% url "home_page" %}" class="list">Главная</a>
  <a href="{% url "shop_list" %}" class="list choosen">Магазин</a>
  <p class="list" onclick="scrollToBlock(3998)">Цены</p>
  <a href="{% url "knowledgebase_list" %}" class="list">База знаний</a>
  <a href="{% url "blog_page" %}" class="list">Блог</a>
  <a href="{% url "contact_page" %}">Контакты</a>
{% endblock  %}

{% block content %}
<div class="navigation__background"></div>
      <nav class="navigation">
        <a href="{% url "home_page" %}">Главная</a>
        <p class="blog__page">> <span>Магазин</span></p>
      </nav>

      <div class="shop__wrap">
        <h1 class="shop__title">Магазин товаров</h1>
        <h2 class="shop__subtitle">
          Только самые качественные товары от Telegram Prime
        </h2>

        <div class="shop">
          <section class="shop__navigation">
            <p
              class="nav__list choosen__category"
              onclick="showShopCategory(0)"
            >
              Категория #1
            </p>
            <p class="nav__list" onclick="showShopCategory(1)">Категория #2</p>
            <p class="nav__list" onclick="showShopCategory(2)">Категория #3</p>
            <p class="nav__list" onclick="showShopCategory(3)">Категория #4</p>
          </section>
          <section class="shop__section showed__section">
            <div class="product" id="1">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #1</p>
              <button class="product__button" onclick="showDescription(0,0)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(1);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="2">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #2</p>
              <button class="product__button" onclick="showDescription(0,1)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(2);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="3">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #3</p>
              <button class="product__button" onclick="showDescription(0,2)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(3);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="4">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #4</p>
              <button class="product__button" onclick="showDescription(0,3)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(4);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="5">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #5</p>
              <button class="product__button" onclick="showDescription(0,4)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(5);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="6">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,5)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(6);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
          </section>
          <section class="shop__section">
            <div class="product" id="7">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,6)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(7);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="8">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,7)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(8);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="9">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,8)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(9);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="10">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,9)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(10);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="11">
              <img src="" alt="" class="product__img" />
              <p class="product__name" onclick="showDescription(0,10)">
                Название продукта #6
              </p>
              <button class="product__button">Подробнее</button>
              <button
                class="product__button buy__btn"
                onclick="formCard(11);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="12">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,11)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(12);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
          </section>
          <section class="shop__section">
            <div class="product" id="13">
              <img src="" alt="" class="product__img" />
              <p class="product__name" onclick="showDescription(0,12)">
                Название продукта #6
              </p>
              <button class="product__button">Подробнее</button>
              <button
                class="product__button buy__btn"
                onclick="formCard(13);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="14">
              <img src="" alt="" class="product__img" />
              <p class="product__name" onclick="showDescription(0,13)">
                Название продукта #6
              </p>
              <button class="product__button">Подробнее</button>
              <button
                class="product__button buy__btn"
                onclick="formCard(14);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="15">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,14)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(15);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="16">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,15)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(16);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="17">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,16)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(17);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="18">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,17)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(18);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
          </section>
          <section class="shop__section">
            <div class="product" id="19">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,18)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(19);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="20">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,19)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(20);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="21">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,20)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(21);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="22">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,21)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(22);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="23">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,22)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(23);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
            <div class="product" id="24">
              <img src="" alt="" class="product__img" />
              <p class="product__name">Название продукта #6</p>
              <button class="product__button" onclick="showDescription(0,23)">
                Подробнее
              </button>
              <button
                class="product__button buy__btn"
                onclick="formCard(24);showCard(0)"
              >
                Купить: 1000 ₽
              </button>
            </div>
          </section>
        </div>
      </div>
    </div>

    <div class="product__description__popup__wrap">
      <div class="product__description__popup">
        <div class="product__description__closewrap">
          <div class="cross" onclick="showDescription(1)"></div>
        </div>
        <section class="product__description__block">
          <img src="" alt="" class="product__description__img" />
          <div class="product__text">
            <p class="product__description__name">Название Товара</p>
            <button class="product__buy__btn">Купить</button>
            <p class="product__description__description">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Necessitatibus corporis placeat rerum maiores magni modi fuga sequi
              aspernatur consequatur tempora. Quod consequuntur nam quis itaque
              libero doloribus sequi, aspernatur explicabo. Beatae quisquam aut
              ipsa quis a labore iure voluptatem velit temporibus maiores officiis
              eum soluta rerum, dolorum explicabo harum id! Autem sed, sapiente et
              ratione vero sint aliquam natus eligendi.
            </p>
          </div>
        </section>
      </div>
    </div>

    <div class="choosen__payment__system__wrap">
      <div class="choosen__payment__system__popup">
        <div class="choosen__wrap" onclick="">
          <p class="choosen__payment__system__title">
            Выберете платёжную систему
          </p>
          <div class="cross" onclick="closePayment(0)"></div>
        </div>
        <div class="payment__systems">
          <section class="payment__system" onclick="sendPaymentData(1,1)">
            <img src="{% static "IMG/enot-logo.png" %}" alt="" class="payment__img" />
          </section>
          <section class="payment__system" onclick="sendPaymentData(1,2)">
            <img
              src="{% static "IMG/nowpayments-logo.webp" %}"
              alt=""
              class="payment__img"
            />
          </section>
        </div>
      </div>
    </div>

    <div class="choosen__products__wrap">
      <div class="choosen__products">
        <div class="choosen__close__wrap">
          <p class="choosen__products__title">Корзина</p>
          <div class="cross cross__products" onclick="showCard(1)"></div>
        </div>
        <!-- <form onsubmit="createPayment(this); return false" class="payment__form"> -->
          <div class="products__items"></div>
          <p class="product__input__name first">Электронная почта</p>
          <input
            type="text"
            class="product__input"
            name="email"
            placeholder="example@gmail.com"
          />
          <p class="product__input__name">Ваш ник в Telegram</p>
          <input
            type="text"
            class="product__input"
            name="nickname"
            placeholder="@example"
          />
          <div class="products__info">
            <p class="price__title">Итоговая цена:</p>
            <input type="text" class="products__price" name="price" value="" />
          </div>
          <button
            type="submit"
            class="payment__btn"
          >
            Продолжить
          </button>
        <!-- </form> -->
      </div>
    </div>
{% endblock content %}

{% block scripts %}
<script src="{% static "JS/shop.js" %}"></script>
<script src="{% static "JS/index.js" %}"></script>
<script src="{% static "JS/requests.js" %}"></script>
{% endblock scripts %}