{% extends "cafe/block/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "css/order.css" %}">
{% endblock  %}

{% block title %}
    Список заказов
{% endblock  %}

{% block content %}
    {% if request.user.is_staff %}
        <div class='section__order'>
            <div class='title'>Заказы</div>
            {% if request.user.is_staff %}
                <a href="{% url "create_order" %}"><button class="btn btn-outline-primary">Добавить заказ</button></a>
            {% endif %}
            <div class='order__container'>
                {% for order in object_list %}
                    <div class='order'>
                        <h2>Номер заказа: {{ order.pk }}</h2>
                        <p>ФИО: {{order.buyer_lastname}} {{order.buyer_name}} {{order.buyer_surname}}</p>
                        <p>Адрес доставки: {{ order.location }}</p>
                        <div class='section__btn'>
                            <a href="{% url "one_order" order.pk %}"><button class="btn btn-outline-success">Подробнее</button></a>
                            {% if request.user.is_staff %}
                                <a href="{% url "update_order" order.pk %}"><button class="btn btn-outline-warning">Изменить</button></a>
                                <form action="{% url "delete_order" order.pk %}" method='post'>
                                    {% csrf_token %}
                                    <a href='#'><button class="btn btn-outline-danger">Удалить</button></a>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <h1 style="font-size: 72px; padding: 26px">Страница не найдена!</h1>
        <a href="{% url "list_order" %}" style="padding: 0 26px">Вернуться к странице заказов.</a>
    {% endif %}
{% endblock  %}