{% extends "cafe/block/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "css/order.css" %}">
{% endblock  %}

{% block title %}
    {{object.pk}} || {{object.buyer_lastname}} {{object.buyer_name}} {{object.buyer_surname}}
{% endblock  %}

{% block content %}
    {% if request.user.is_staff %}
        <div class='section__order'>
            <div class='order__container'>
                <div class='order'>
                    <h2>Номер заказа: {{ order.pk }}</h2>
                    <p>ФИО: {{object.buyer_lastname}} {{object.buyer_name}} {{object.buyer_surname}}</p>
                    <p>Адрес доставки: {{ object.location }}</p>
                    {% if order.comment %}
                        <p>Комментарий: {{ object.comment }}</p>
                    {% else %}
                        <p>Комментарий: Отсутствует</p>
                    {% endif %}
                    <p>Способ доставки: {{ object.get_delivery_display }}</p>
                    <p>Товары:<br/>
                        {% for product in object.product.all %}
                            {{product}}<br/>
                        {% endfor %}
                    </p>
                    <div class='section__btn'>
                        <a href="{% url "list_order" %}"><button class="btn btn-outline-success">Вернуться к заказам</button></a>
                        {% if request.user.is_staff %}
                            <a href="{% url "update_order" order.pk %}"><button class="btn btn-outline-warning">Изменить</button></a>
                            <form action="{% url "delete_order" order.pk %}" method='post'>
                                {% csrf_token %}
                                <a href='#'><button class="btn btn-outline-danger">Удалить</button></a>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1 style="font-size: 72px; padding: 26px">Страница не найдена!</h1>
        <a href="{% url "list_order" %}" style="padding: 0 26px">Вернуться к странице заказов.</a>
    {% endif %}
{% endblock  %}