{% extends "cafe/block/base.html" %}

{% load static %}

{% block style %}
    <link rel="stylesheet" href="{% static "css/add.css" %}">
{% endblock  %}

{% block title %}
    Добавить поставщика
{% endblock  %}

{% block content %}
    <div class="add">
        <div class="title">Добавить товар</div>
        <form method="post" class='form-control'>
            {% csrf_token %}
            {{ form.name }}
            {{ form.price }}
            <button type="submit" class='submit'>Создать</button>
        </form>
    </div>
{% endblock %}