{% load static %}

<!DOCTYPE html>
<html lang="ru">
  <head>
    <link rel="icon" href="{%static "IMG/favicon.ico"%}">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.css" />
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="{% static "CSS/reset.css" %}" />
    {% block styles %}{% endblock %}
    <meta charset="UTF-8" />
    {% block meta %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0" >
    <title class="translate">{% block title %}Telegram Prime - лучший софт для Telegram!{% endblock title %}</title>
  </head>
  <body onscroll="changeBackground();">
    <div class="contact__popup__wrap">
      <div class="contact__popup">
        <div class="contact__text__wrap">
          <p class="contact__title translate">Контакты</p>
          <div class="cross" onclick="showHidePopup(1);"></div>
        </div>
         <div class="contact__social">
          <a href="" rel="nofollow">
            <img src="{% static "IMG/vk.png" %}" alt="" />
          </a>
          <a href="" rel="nofollow">
            <img src="{% static "IMG/facebook.png" %}" alt="" />
          </a>
          <a href="" rel="nofollow">
            <img src="{% static "IMG/whatsapp.png" %}" alt="" />
          </a>
          <a href="" rel="nofollow">
            <img src="{% static "IMG/telegram.png" %}" alt="" />
          </a>
          <a href="" rel="nofollow">
            <img src="{% static "IMG/vk.png" %}" alt="" />
          </a>
          <a href="" rel="nofollow">
            <img src="{% static "IMG/twitter.png" %}" alt="" />
          </a>
          <a href="" rel="nofollow">
            <img src="{% static "IMG/discord.png" %}" alt="" />
          </a>
          <a href="" rel="nofollow">
            <img src="{% static "IMG/element.png" %}" alt="" />
          </a>
          <a href="" rel="nofollow">
            <img src="{% static "IMG/inst.png" %}" alt="" />
          </a>
          <a href="" rel="nofollow">
            <img src="{% static "IMG/TamTam.png" %}" alt="" />
          </a>
         </div>
         <form onsubmit="submitForm(this); return false" class="contact__form">
           <input type="text" class="contact__name form__input" name="name" placeholder="Ваше имя*">
           <input type="text" class="contact__login form__input" name="login" placeholder="Ваш логин Telegram*">
           <textarea class="contact__message form__input" name="message" placeholder="Ваше сообщение*"></textarea>
           <button class="contact__send translate" type="submit">Отправить</button>
         </form> 
      </div>
    </div>
    <div class="burger__menu hide__burger">
      <div class="burger__close__wrap">
        <p class="project__name">Telegram Prime</p>
        <div class="cross" onclick="showHideBurger(1)">
        </div>
      </div>
      <div class="burger__list">
        {% block nav %}
            <a href="{% url "home_page" %}" class="list">Главная</a>
            <a href="{% url "shop_list" %}" class="list">Магазин</a>
            <p class="list" onclick="scrollToBlock(3998)">Цены</p>
            <a href="{% url "knowledgebase_list" %}" class="list">База знаний</a>
            <a href="{% url "blog_page" %}" class="list">Блог</a>
            <a href="{% url "contact_page" %}">Контакты</a>
        {% endblock nav %}
      </div>
    </div>

    <div class="page light">
      <div class="header__background"></div>
      <header>
        <a href="{% url "home_page" %}" class="header__logo">Telegram Prime</a>
        <div class="header__list">
          {% block header_nav %}
            <a href="{% url "home_page" %}" class="list">Главная</a>
            <a href="{% url "shop_list" %}" class="list">Магазин</a>
            <p class="list" onclick="scrollToBlock(3998)">Цены</p>
            <a href="{% url "knowledgebase_list" %}" class="list">База знаний</a>
            <a href="{% url "blog_page" %}" class="list">Блог</a>
            <a href="{% url "contact_page" %}">Контакты</a>
          {% endblock header_nav %}
        </div>
        {% comment %}<div class="theme__changer" onclick="toggleTheme()">Светлый</div{% endcomment %}
        <div class="change__contact__wrap">
          <div class="burger" onclick="showHideBurger(0)">
            <span></span>
          </div>
          <div class="language__change">
            <img src="{%static "IMG/ru.webp" %}" alt="" class="lang__img">
            <p class="lang__text">RU</p>
          </div>
          {% comment %} <div class="change__theme">
            <img src="" %}" alt="" class="theme__img" alt="night" />
          </div> {% endcomment %}
          <button class="header__contact translate" onclick="showHidePopup(0)">Написать нам</button>
        </div>
      </header>
      {% block content %}{% endblock %}
      <footer>
        <div class="footer__background"></div>
        <section class="footer__info">
          <p class="footer__info__name firstName">Важно</p>
          <p class="footer__info__description">
            Массовая рассылка сообщений в лички Telegram - это самый
            результативный метод продвижения бизнеса в Телеграм. С программой
            TELEGRAM PRIME, вы сможете сэкономить средства на раскрутку своего
            проекта
          </p>
        </section>
        <section class="footer__info">
          <p class="footer__info__name secondName">Ссылки</p>
          <a href="{% static "Documents/Публичная-оферта.pdf" %}" rel="nofollow" class="footer__link firstLink"
            >Публичная оферта</a
          >
          <a href="{% static "Documents/Политика-конфиденциальности.pdf" %}" rel="nofollow" class="footer__link"
            >Политика конфиденциальности</a
          >
        </section>
        <section class="footer__info thirdInfo">
          <p class="footer__info__name thirdName">Контакты</p>
          <div class="mail__content footer__mail">
            <img src="{%static "IMG/email.png" %}" alt="" class="mail__img" />
            <p class="mail__name">Email - example@mail.ru (Текст#1)</p>
          </div>
          <div class="social__list footer__social">
            <a href="" rel="nofollow">
              <img src="{%static "IMG/vk.png" %}" alt="" class="social__img" />
            </a>
            <a href="" rel="nofollow">
              <img src="{%static "IMG/telegram.png" %}" alt="" class="social__img" />
            </a>
            <a href="" rel="nofollow">
              <img src="{%static "IMG/whatsapp.png" %}" alt="" class="social__img" />
            </a>
            <a href="" rel="nofollow">
              <img src="{%static "IMG/youtube.png" %}" alt="" class="social__img" />
            </a>
            <a href="" rel="nofollow">
              <img src="{%static "IMG/discord.png" %}" alt="" class="social__img" />
            </a>
          </div>
        </section>
      </footer>
    </div>
    {% block scripts %}{% endblock  %}
  </body>
</html>
