{% extends "cafe/block/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "css/supply.css" %}">
{% endblock  %}

{% block title %}
    Поставка №{{ object.pk }} || {{ object.supply.supplier.name }}
{% endblock  %}

{% block content %}
    <div class='section__supply'>
        <div class='title'>Поставка №{{ object.pk }}</div>
        <div class='supply__container'>
            <div class='supply'>
                <h2>Номер поставки: {{ object.pk }}</h2>
                <p>Дата поставки: {{ object.supply.date_supply }}</p>
                <p>Список поставок:<br/><br/>
                    Номер поставки: {{ possupply.pk }}<br/>
                    Товар: {{possupply.product}}<br/>
                    Цена: {{ possupply.product.price }}<br/>
                    Кол-во: {{ possupply.count }}<br/><br/>
                </p>
                <div class='section__btn'>
                    <a href="{% url "all_supply" %}"><button class="btn btn-outline-success">Вернуться к списку поставок</button></a>
                    {% if request.user.is_staff %}
                        <a href="{% url "update_supply" object.pk %}"><button class="btn btn-outline-warning">Изменить</button></a>
                        <form action="{% url "delete_supply" object.pk %}" method='post'>
                            {% csrf_token %}
                            <a href='#'><button class="btn btn-outline-danger">Удалить</button></a>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock  %}