{% extends "cafe/block/base.html" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static "css/supply.css" %}">
{% endblock  %}

{% block title %}
    {{ action }}
{% endblock  %}

{% block content %}
    {% if request.user.is_staff %}
        <div class='section__supply section__supply__form'>
            <form method='post' class='form-control' style="display: flex; flex-direction: column; gap: 10px">
                {% csrf_token %}
                Выберите товар:
                {{ form.product }}
                Выберите поставщика:
                {{ form.supply }}
                Кол-во товара:
                {{ form.count }}
                <button class="submit">{{action}}<button>
            </form>
        </div>
    {% else  %}
        <h1 style="font-size: 72px; padding: 26px">Страница не найдена!</h1>
        <a href="{% url "all_supply" %}" style="padding: 0 26px">Вернуться к странице заказов.</a>
    {% endif %}
{% endblock  %}